# Ignore everything...
*

# ...but not directories, so git recurses into them...
!*/

#...and not .gitignore...
!.gitignore

!01/*.hdl
!02/*.hdl
!03/**/*.hdl
!04/**/*.asm
!05/*.hdl
!06/HackAssembler/*.cs
!06/HackAssembler/*.csproj
!06/HackAssembler/*.sln
!07/HackTranslator/*.cs
!07/HackTranslator/*.csproj
!07/HackTranslator/*.sln
!08/HackTranslator/*.cs
!08/HackTranslator/*.csproj
!08/HackTranslator/*.sln
